{% extends "layout.html" %}

{% block content %}
<div class="hero-wrap hero-wrap-2" data-stellar-background-ratio="0.5">
    <div class="d-flex" style="padding-right: 30px;padding-left: 30px;margin-top: 50px;">
        <div class="container">
            <div class="col">
                <div class="row text text-center justify-content-center">
                    <div class="desc ">
                        <h2 class="subheading">Hola, soy</h2>
                        <h1 class="mb-4"> {{ config.web_metadata.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    Soy Gustavo Vargas, trabajo como Data Scientist en Kairós Digital Solutions.
                    <font style="font-size: 4pt"><br></font>

                    Me he especializado en proyectos de desarrollo y despliegue de modelos de Machine Learning y Deep Learning en la nube, usando MLFlow y AirFlow, en entornos como Azure ML o Vertex AI. Si estás comenzando en el mundo del data science, no dudes en ponerte en contacto conmigo si necesitas algún consejo.
                </div>
            </div>
            <br>

            <a href="files/cv_gustavo_vargas.pdf" target="_blank" >
                <div>
                    Curriculum vitae
                </div>
            </a>
            <br>
            <div class="col">
                <div class="row">
                    <h5>Educación</h5>
                </div>
                <div class="row">
                    <ul>
                        <li>Máster en Data Science y Big Data en Finanzas - AFI Escuela de Finanzas</li>
                        <li>Grado en Economía - Universidad Nacional de Educación a Distancia. Finalización: jun-2023</li>
                        <li>Diploma en Análisis Financiero - Universidad Nacional Mayor de San Marcos</li>
                        <li>Arquitecto Técnico - Universidad Politécnica de Madrid</li>
                    </ul>
                </div>
                <div class="row">
                    <h5>Intereses</h5>
                </div>
                <div class="row">
                    <ul>
                        <li>Deep learning aplicado a series temporales</li>
                        <li>Economía: Teoría Monetaria, Inferencia causal</li>
                        <li>Filosofía política</li>
                    </ul>
                </div>
                <div class="row">
                    <h5>Temas que estoy trabajando ahora</h5>
                </div>
                <div class="row">
                    <h5>Grupos preferidos</h5>
                </div>
                <div class="row">
                    <ul>
                        <li>Queen</li>
                        <li>Belle and Sebastian</li>
                        <li>Have Heart</li>
                        <li>Crema / C Tangana</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
