{% extends "layout.html" %}

{% block content %}
<div class="hero-wrap hero-wrap-2" data-stellar-background-ratio="0.5">
    <div class="d-flex" style="padding-right: 30px;padding-left: 30px;margin-top: 50px;">
        <div class="container">
            <div class="col">
                <div class="row text text-center justify-content-center">
                    <div class="desc ">
                        <h2 class="subheading">Hola, soy</h2>
                        <h1 class="mb-4"> {{ config.web_metadata.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    Soy Gustavo Vargas, trabajo como Data Scientist en ETS Asset Management Factory en el departamento de Metodología, donde investigo mejores usos para las Generative Adversarial Networks
                    aplicadas a las series temporales financieras.
                    <font style="font-size: 4pt"><br></font>

                    Mis intereses se centran en el campo de la Economía, Finanzas y Econometría, cosa que me llevó a aprender a programar y finalmente orientar mi carrera hacia el Machine Learning y Deep Learning.
                    También, aunque de manera anexa a lo anterior, estoy interesado en los métodos de optimización en sistemas con certidumbre e incertidumbre.
                </div>
            </div>
            <br>
            <div class="col">
                <div class="row">
                    <h5>Educación</h5>
                </div>
                <div class="row">
                    <ul>
                        <li>Máster en Data Science y Big Data en Finanzas - AFI Escuela de Finanzas</li>
                        <li>Arquitecto Técnico - Universidad Politécnica de Madrid</li>
                        <li>Diploma en Análisis Financiero - Universidad Nacional Mayor de San Marcos</li>
                        <li>Grado en Economía - Universidad Nacional de Educación a Distancia. Finalización: jun-2021</li>
                    </ul>
                </div>
                <div class="row">
                    <h5>Intereses</h5>
                </div>
                <div class="row">
                    <ul>
                        <li>Matemáticas: programación dinámica</li>
                        <li>Economía: Historia del pensamiento económico, Teoría Monetaria</li>
                        <li>Filosofía: epistemología de la ciencia, filosofía política</li>
                        <li>Psicología: Behavioral Economics</li>
                    </ul>
                </div>
                <div class="row">
                    <h5>Temas que estoy trabajando ahora</h5>
                </div>
                <div class="row">
                    <ul>
                        <li>Álgebra lineal y ecuaciones diferenciales</li>
                        <li>Diseño web con bootstrap y backend con flask</li>
                        <li>Valoración de opciones con simulaciones mediante métodos Monte Carlo</li>
                    </ul>
                </div>
                <div class="row">
                    <h5>Música que suelo escuchar</h5>
                </div>
                <div class="row">
                    <ul>
                        <li>Queen</li>
                        <li>Belle and Sebastian</li>
                        <li>LODVG</li>
                        <li>Have Heart</li>
                        <li>Estopa</li>
                        <li>Crema / C Tangana</li>
                        <li>Punch</li>
                        <li>Nueva Ética</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
