{% extends "layout.html" %}

{% block content %}
<div class="hero-wrap hero-wrap-2" data-stellar-background-ratio="0.5">
    <div class="d-flex justify-content-left">
        <div class="text text-left">
            <ul style="padding-left: 120px;margin-top: 70px;">
            {% for articulo in config.traducciones %}
                <li class="h3">{{ articulo.title }}</li>
                <a href="{{ articulo.link }}" target="_blank">Link</a><p class="text-muted">{{ articulo.date }}</p>
                </br>
            {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock content %}